<h2>V. MAJER</h2>
<h3>ministr výživy</h3>

<br />
<p>
  Stojíme dnes na historické půdě Bílé hory. Tady na Bílé hoře utrpěl náš národ
  těžkou národní porážku, tady byla v nerovném boji přemožena a vybita poslední
  hrstka hrdinných obránců české samostatnosti a svobody. A pak, po této
  porážce, nastala ona
  <i>nešťastná doba našich národních dějin, doba pobělohorského temna</i>,
  poroby a poddanství.
</p>
<p>
  Jako dravci se tehdy vrhly do naší země hordy cizáků, loupily a zabraly pro
  sebe nepřehledné lány půdy - zemědělské i lesní, - paláce, zámky, celé vesnice
  a kraje.
</p>

<p>[ … ]</p>

<p>
  Také během německé a maďarské okupace bylo mnoho české a slovenské půdy
  uloupeno a osídleno Němci a Maďary. Čeští zemědělci byli vyhnáni ze svých
  statků a chalup. Uloupením půdy našim zemědělcům, vyhlazením celých vesnic a
  zemědělských krajů chtěl Hitler zasáhnout a zničit samý kořen naší národní
  existence a postupně vyhladit český a slovenský živel z tohoto prostoru.
</p>

<p>[ … ]</p>

<p>
  Tak po staletí zápas o českou půdu byl také zápasem o samo národní bytí [...]
  Tento staletý zápas o národní existenci je nyní vítězně skončen. Jsme opět
  svobodni, máme svůj stát. Proto je jen spravedlivé, jestliže je bez náhrady
  konfiskován zemědělský majetek Němců, cizáků, Maďarů a národních zrádců a je
  dáván do rukou českých a slovenských zemědělců.
</p>

<p>
  Pak to není akt pomsty, nýbrž akt prosté spravedlnosti a spravedlivé odplaty,
  akt konečného odčinění neblahého dědictví Bílé hory.
</p>
